/*覆盖 vant 主题颜色*/

:root:root{
    /*button*/
    --rv-button-primary-background-color: theme('colors.primary');
    --rv-button-primary-border-color: theme('colors.primary');

    /*tab*/
    --rv-tab-active-text-color: theme('colors.primary');
    --rv-tabs-bottom-bar-color: theme('colors.primary');

    /*tabbar*/
    --rv-tabbar-item-active-color: theme('colors.primary');
    --rv-tabbar-background-color: theme('colors.block.light');

    /*nav*/
    --rv-nav-bar-icon-color: theme('colors.regular.light');

    /*badge*/
    --rv-badge-border-width: '0px';
    &.dark{
    /*button*/
         --rv-button-default-background-color: theme('colors.gray.600');
         --rv-button-default-border-color: theme('colors.gray.600');
         --rv-button-default-color: theme('colors.regular.dark');

         /*card*/
         --rv-card-background-color: theme('colors.card.dark');

         /*tab*/
         --rv-tab-text-color: theme('colors.regular.dark');
         --rv-tabs-nav-background-color: theme('colors.block.dark');

         /*tabbar*/
         --rv-tabbar-background-color: theme('colors.block.dark');
         --rv-tabbar-item-text-color: theme('colors.regular.dark');
         --rv-tabbar-item-active-background-color: theme('colors.block.dark');

     /*nav*/
         --rv-nav-bar-background-color: theme('colors.block.dark');
         --rv-nav-bar-icon-color: theme('colors.regular.dark');
         --rv-nav-bar-text-color: theme('colors.regular.dark');
         --rv-nav-bar-title-text-color: theme('colors.regular.dark');

    /*input*/
         --rv-input-text-color: theme('colors.regular.dark');
         --rv-input-placeholder-text-color: theme('colors.secondary.dark');

     /*search*/
         --rv-search-background-color: theme('colors.block.dark');
         --rv-search-content-background-color: theme('colors.page.dark');
         --rv-search-left-icon-color: theme('colors.secondary.dark');
         --rv-search-label-color: theme('colors.secondary.dark');
         --rv-search-action-text-color: theme('colors.secondary.dark');

    /*actionsheet*/
         --rv-action-sheet-item-background: theme('colors.block.dark');
         --rv-action-sheet-item-text-color: theme('colors.regular.dark');
         --rv-action-sheet-cancel-padding-color: theme('colors.page.dark');
     }
}

.rv-form-item{
    &::after{
    @apply !border-border-light dark:!border-border-dark;
     }
}

.rv-image-preview__index{
    z-index: 10;
}
