
$font-color: purple;

$page-background-color: #e9ecef;

:root{
  --block-background-color-light: #fff;
  --page-background-color: #e9ecef;
  --header-height: 60px
}
html.dark{
  --block-background-color-light: #303030;
  --page-background-color: #1c1b22;
}
