.text-ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: keep-all;
	white-space: nowrap;
}

.action-sheet-text{
	text-align: center;
	font-size: 14px;
	width: 100%;
	&.red{
		color: $uni-error;
	}
}